/* Write your CSS here */

.eachlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: black;
  width: 45%;
  height: 150px;
  border-radius: 10px;
}
.competingimage {
  width: 50px;
  height: 50px;
}
.teamnames {
  font-size: 10px;
  color: #ffffff;
}
.result {
  font-size: 5px;
  color: #ffffff;
}
.loststatus {
  font-size: 10px;
  color: red;
}
.wonstatus {
  font-size: 10px;
  color: lightgreen;
}

@media screen and (min-width: 768px) {
  .eachlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
    width: 30%;
    height: 300px;
    border-radius: 10px;
  }

  .competingimage {
    width: 100px;
    height: 100px;
  }
  .teamnames {
    font-size: 20px;
    color: #ffffff;
  }
  .result {
    font-size: 10px;
    color: #ffffff;
  }
  .loststatus {
    font-size: 20px;
    color: red;
  }
  .wonstatus {
    font-size: 20px;
    color: lightgreen;
  }
}
