/* Write your CSS here */

.eachteam {
  width: 40%;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
}
.teamcontainer {
  width: 100%;

  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.teamurl {
  width: 50px;
  height: 50;
  margin-right: 5px;
}
.teamname {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .teamurl {
    width: 100px;
    height: 100px;
  }
  .teamname {
    color: #ffffff;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
}
