/* Write your CSS here */
.teammaincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-image: linear-gradient(to bottom, #d91c1f, #a4261d, #1e293b);
}

.banner {
  width: 100%;
  height: 15%;
}
.matchcardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
