/* Write your CSS here */
.latestMatchmaincontainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  background-color: black;
  border-radius: 10px;
}
.topcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hrline {
  width: 100%;
  color: #ffffff;
}
.bottomcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.leftcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}
.wonteamname {
  font-size: 20px;
  color: #ffffff;
}
.p {
  font-size: 10px;
  color: #ffffff;
}
.wonteamimage {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .latestMatchmaincontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
    width: 100%;
  }
  .topcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  .leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
  }
  .hrline {
    display: none;
  }
  .bottomcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 30%;
    margin-right: 0px;
  }
  .wonteamname {
    font-size: 40px;
    color: #ffffff;
  }
  .p {
    font-size: 20px;
    color: #ffffff;
  }
  .wonteamimage {
    width: 200px;
    height: 200px;
  }
}
